html,
body,
#__float_note {
  width: 100%;
  height: 100%;
  @apply text-gray-600;
}

.router-link-active .item {
  @apply text-blue-700 bg-blue-50;
}

.icon-button {
  @apply rounded-lg cursor-pointer flex items-center justify-center hover:bg-gray-100 text-sm bg-white w-8 h-8;
}

.v-popper--theme-fn .v-popper__arrow-outer {
  visibility: hidden;
}

.v-popper--theme-fn .v-popper__arrow-inner {
  visibility: hidden;
}