@font-face {
  font-family: 'Fira Code VF';
  src: url('./FiraCode-VF.woff2') format('woff2-variations');
  font-weight: 300 700;
  font-style: normal;

}

@supports (font-variation-settings: normal) {
  .ProseMirror pre code {
    font-family: 'Fira Code VF', monospace;
  }
}

/* 
.ProseMirror .codeblock::before {
  content: attr(data-language);
  font-family: 'Fira Code', monospace;
} */

.ProseMirror .codeblock .line-number {
  @apply w-16 -ml-16 inline-block pr-5 text-right select-none static text-gray-950/20;
}

.ProseMirror .codeblock .pre-wrap {
  white-space: pre-wrap;
}

.ProseMirror .codeblock pre {
  overflow: auto;
  padding: 8px 0;
  padding-left: 58px;
}

.ProseMirror .codeblock pre code {
  font-family: 'Fira Code VF', monospace;
  @apply border-0 rounded-none text-sm p-0 bg-transparent;
  -webkit-font-feature-settings: 'liga' on, 'calt' on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.ProseMirror-selectednode.codeblock {
  @apply border-primary-500 bg-primary-100;
}

/*
* highlight theme
*/
.hljs {
  color: #8B8D98;
  background: #fafafa
}

.hljs-comment,
.hljs-quote {
  color: #B9BBC6;
  font-style: italic
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #D13415
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e45649
}

.hljs-literal {
  color: #0090FF
}

.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #008573
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #EF5F00
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #3E63DD
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #AB4ABA
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}

.hljs-link {
  text-decoration: underline
}