@font-face {
  font-family: 'Fira Code VF';
  src: url('./FiraCode-VF.woff2') format('woff2-variations');
  font-weight: 300 700;
  font-style: normal;
}

@supports (font-variation-settings: normal) {
  .ProseMirror pre code {
    font-family: 'Fira Code VF', monospace;
  }
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}

code img {
  display: inline-block;
}

.hljs {
  color: #8B8D98;
  background: #fafafa
}

.hljs-comment,
.hljs-quote {
  color: #B9BBC6;
  font-style: italic
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #D13415
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e45649
}

.hljs-literal {
  color: #0090FF
}

.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #008573
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #EF5F00
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #3E63DD
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #AB4ABA
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}

.hljs-link {
  text-decoration: underline
}