@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  outline: none;
}

.ProseMirror h1 {
  @apply text-2xl font-medium mt-2 mb-1;
}

.ProseMirror h2 {
  @apply text-xl font-medium;
}

.ProseMirror h3 {
  @apply text-lg font-medium;
}

.ProseMirror h4 {
  @apply text-base font-medium;
}

.ProseMirror h5 {
  @apply text-sm font-medium;
}

.ProseMirror h6 {
  @apply text-xs font-medium;
}

.ProseMirror ul,
ol {
  @apply mx-0 my-2 px-4 py-0;
}

.ProseMirror ul li {
  list-style: disc;
}

.ProseMirror ol li {
  list-style: decimal;
}

.ProseMirror li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.ProseMirror li ul {
  @apply my-0;
}

.ProseMirror p {
  @apply min-h-6;
}

.ProseMirror blockquote {
  @apply border-l-4 border-gray-950/10 pl-2 py-0.5 text-gray-600
}

.ProseMirror code {
  @apply bg-gray-100 px-1 py-px rounded border mx-1 text-sm;
  font-family: 'Inter';
}

.ProseMirror .callout div[data-node-view-content] {
  @apply w-full;
}