@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  outline: none;
}

.ProseMirror h1 {
  @apply text-2xl font-medium mt-2 mb-1;
}

.ProseMirror h2 {
  @apply text-xl font-medium;
}

.ProseMirror h3 {
  @apply text-lg font-medium;
}

.ProseMirror h4 {
  @apply text-base font-medium;
}

.ProseMirror h5 {
  @apply text-sm font-medium;
}

.ProseMirror h6 {
  @apply text-xs font-medium;
}

.ProseMirror ul,
ol {
  @apply mx-0 my-2 px-4 py-0;
}

.ProseMirror ul li {
  list-style: disc;
}

.ProseMirror ol li {
  list-style: decimal;
}

.ProseMirror li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.ProseMirror li ul {
  @apply my-0;
}

.ProseMirror p {
  @apply min-h-6;
}

.ProseMirror blockquote {
  @apply border-l-4 border-gray-950/10 pl-2 py-0.5 text-gray-600
}

.ProseMirror code {
  @apply bg-gray-100 px-1 py-px rounded border mx-1 text-sm;
  font-family: 'Inter';
}

.ProseMirror .callout div[data-node-view-content] {
  @apply w-full;
}

.ProseMirror table {
  font-size: 15px;
  @apply border-collapse m-0 overflow-hidden table-fixed w-full bg-white;
}

.ProseMirror table td,
.ProseMirror table th {
  @apply border border-gray-300 box-border min-w-4 p-1 relative align-top;
}

.ProseMirror a {
  @apply text-primary-500;
}

.ProseMirror table td>*,
.ProseMirror table th>* {
  @apply mb-0;
}

.ProseMirror table th {
  @apply bg-gray-100 font-medium text-left
}

.ProseMirror table .selectedCell:after {
  content: "";
  @apply inset-0 absolute z-0 pointer-events-none bg-primary-500/10;
}

.ProseMirror table .column-resize-handle {
  @apply pointer-events-none bg-primary-500 w-0.5 top-0 absolute z-10 -right-0.5 -bottom-0.5;
}

.ProseMirror.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}