@tailwind base;
@tailwind components;
@tailwind utilities;

#__float_note .router-link-active .item {
  @apply text-primary bg-primary-50 dark:text-white dark:bg-primary-400 hover:dark:bg-primary-500;
}

#__float_note .simplebar-scrollbar::before {
  @apply bg-black/20 dark:bg-white/10;
}

.logo {
  font-stretch: 125%;
  font-weight: 700;
  @apply font-mona dark:text-green-500;
}

@layer base {

  html,
  body,
  #__float_note {
    @apply w-full h-full bg-gray-50 dark:bg-gray-900 antialiased font-inter;
  }

  @font-face {
    font-family: 'Mona';
    src:
      url('/font/Mona-Sans.woff2') format('woff2 supports variations'),
      url('/font/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

  @font-face {
    font-family: 'Inter';
    src:
      url('/font/InterVariable.ttf') format('woff2-variations');
    font-feature-settings: 'liga' 1, 'calt' 1;
  }
}